.masonry-grid {
  position: relative;
  width: 100%;
  --masonry-row-gap: 4px;
  --masonry-column-gap: 4px;
}
.masonry-grid .masonry-item {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0px;
}
.masonry-grid .masonry-item img {
  width: 100%;
  height: auto;
  display: block;
  cursor: zoom-in;
}
